<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='site.css') }}"/>
</head>
<body>
    <h1>Hello World!-body</h1>
    <h1>Hello World!-body</h1>
    {{ title|safe }}
    {{ body|md|safe }}

    <nav>
        <a href="{{ url_for('.services') }}">Services</a>
        <a href="{{ url_for('.about') }}">About</a>
    </nav>

{% set links=[

    { 'label': 'about', 'href':url_for('.about')},
    { 'label': 'services', 'href':url_for('.services')},
    { 'label': 'projects', 'href':url_for('.projects')},
] %}

<nav>
    {% for link in links %}
        {% if not loop.first %} | {% endif %}
        {% if link is current_link %}
            <a href="#">{{ link.label }}</a>
        {% else %}
            <a href="{{ link.href }}">{{ link.label }}</a>
        {% endif %}
    {% endfor %}
</nav>

</body>
</html>