{% extends 'base.html' %}
{% block content %}
    <div class="page-header">
        <div class="container">
            <h1>{{ title }}</h1>
        </div>
    </div>
{#    <h1>HTTP func:{{ method }}</h1>#}
    <div class="container">
        <form method="post">
    {#        <div>#}
    {#            <input type="text"#}
    {#                    name="username"#}
    {#                    placeholder="username">#}
    {#        </div>#}
    {#        <div>#}
    {#            <input type="password"#}
    {#                    name="password"#}
    {#                    placeholder="password">#}
    {#        </div>#}
    {#        <input type="submit">#}
            {% for message in get_flashed_messages() %}
                {{ message }}
            {% endfor %}
            {{ form.username.label }}
            {{ form.username() }}
            {{ form.password.label }}
            {{ form.password() }}
            {{ form.submit() }}
        </form>
    </div>
{% endblock %}